/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {

  font-family: monospace;;
  color: green;
  background-image: url();

}

.new_pic_button [type="submit"]{

  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #006699;
  border: solid;
  border-radius: 25px;
  cursor: pointer;

}

.picture_page {

  font-family: Arial;
  font-size: 16px;

}

.picture_page input[type="submit"] {

  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #006699;
  border: solid;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  overflow: hidden;
  height: 60px;
  padding: 0 30px;
  font-size: 12px;
}
